@model ITSDriverApplication.Models.Application

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Regis Id</dt>
        <dd>@Html.DisplayFor(model => model.Driver.Regis_ID)</dd>

        <dt>First Name</dt>
        <dd>@Html.DisplayFor(model => model.Driver.First_Name)</dd>

        <dt>Last Name</dt>
        <dd>@Html.DisplayFor(model => model.Driver.Last_Name)</dd>

        <dt>Middle Initial</dt>
        <dd>@Html.DisplayFor(model => model.Driver.Middle_Initial)</dd>

        <dt>DL Number</dt>
        <dd>@Html.DisplayFor(model => model.Driver.DL_Number)</dd>

        <dt>Create Date</dt>
        <dd>@Html.DisplayFor(model => model.Create_Date)</dd>

        <dt>Application Status</dt>
        <dd>@Html.DisplayFor(model => model.Application_Status)</dd>

        <dt>Approval Date </dt>
        <dd>@Html.DisplayFor(model => model.Approval_Date)</dd>

        <dt>Approval Duration</dt>
        <dd>@Html.DisplayFor(model => model.Approval_Duration)</dd>

        <dt>App Expiration Date</dt>
        <dd>@Html.DisplayFor(model => model.Approval_Exp_Date)</dd>

        <dt>Approver Last Name</dt>
        <dd>@Html.DisplayFor(model => model.Approver_LName)</dd>

        <dt>Approver First Name</dt>
        <dd>@Html.DisplayFor(model => model.Approver_FName)</dd>

        <dt>University Vehicle</dt>
        <dd>@Html.DisplayFor(model => model.University_Vehicle)</dd>

        <dt>Rental Vehicle</dt>
        <dd>@Html.DisplayFor(model => model.Rental_Vehicle)</dd>

        <dt>Personal Vehicle</dt>
        <dd>@Html.DisplayFor(model => model.Personal_Vehicle)</dd>

        <dt>Multi-Person Vehicle</dt>
        <dd>@Html.DisplayFor(model => model.Multi_Person_Vehicle)</dd>

        <dt>Comments</dt>
        <dd>@Html.DisplayFor(model => model.Comments)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Application_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
