@model ITSDriverApplication.Models.Application

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Driver.Regis_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Driver.Regis_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Create_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Create_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Application_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Application_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Approval_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approval_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Approval_Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approval_Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Approval_Exp_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approval_Exp_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Approver_LName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approver_LName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Approver_FName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approver_FName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.University_Vehicle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.University_Vehicle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rental_Vehicle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rental_Vehicle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Personal_Vehicle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personal_Vehicle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Multi_Person_Vehicle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Multi_Person_Vehicle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Application_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
